body, html {
	height: 100%;
}

.main-content {
	background: red;
	max-width: 900px;
	min-height: 100%;
	margin: 0 auto;
	/* nasledovny zapis sposoby zarovnanie elementu na stred: margin: 0 auto; */
}

.title-big {
	font-weight: bold;
	font-size: 24px;
}

.box-holder {
	border: 1px solid black;
}

.box-wrapper-padding {
	background: green;
}

.box-holder-first {
	width: 100px;
	height: 100px;
}

.box-holder-first .box-wrapper-padding {
	padding: 20px;
	height: 58px;
}

.box-holder-second {
	max-width: 100px;
	max-height: 100px;
}

.box-holder-second .box-wrapper-padding {
	padding: 20px 30px;
	height: 56px;
}

.box-holder-third {
	display: inline-block;
	min-width: 100px;
	min-height: 100px;
}

.box-holder-third .box-wrapper-padding {
	padding: 20px 30px 40px 50px ;
	height: 38px;
}

.box-wrapper-margin {
	background-color: blue;
}

.box-holder-first .box-wrapper-margin {
	margin: 20px;
	height: calc(100% - 40px);
}

.box-holder-second .box-wrapper-margin {
	margin: 20px 30px;
	height: 56px;
}

.box-holder-third .box-wrapper-margin {
	margin: 20px 30px 40px 50px;
	min-height: 38px;
}

.wrapper-link {
	display: inline-block;
}

.wrapper-link-img {
	display: block;
}
